@*@using TuranTrip.Models.Sınıflar
    @model List<Otel>*@

@using TuranTrip.Models.Sınıflar;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Otel>
@{
    ViewBag.Title = "Otel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Otel</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>BlogID</th>
        <th>Otel Resmi</th>
        <th>Temizlik</th>
        <th>Otel Puanı</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>


            <td>@x.ID</td>
            <td>@x.Baslik</td>
            <td>@x.Aciklama</td>
            <td>@x.BlogId</td>
            <td>@x.OtelImage</td>
            <td>@x.OtelTemizlik</td>
            <td>@x.OtelPuan</td>
            <td><a href="/Admin/OtelSil/@x.ID" class=" btn btn-danger">Sil</a></td>
            <td><a href="/Admin/OtelGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
            @*<div class="form-group">
                    <label for="Role">Yetki</label>
                    <select name="Role">
                        <option value="@Model.Role">@Model.Role</option>
                        @foreach (var item in Enum.GetNames(typeof(MVC_Ecommerce.MODEL.Entities.Role)))
                        {
                <option value="@item">@item</option>                }
                    </select>
                </div>*@



        </tr>
    }
</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Otel", "Admin", new { page }), PagedListRenderOptions.TwitterBootstrapPagerAligned)
</div>
<a href="/Admin/YeniOtel/" class="btn btn-primary">Yeni Otel</a>
