@model TuranTrip.Models.Sınıflar.Restaurant


@{
    ViewBag.Title = "RestaurantGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RestaurantGetir</h2>
@using (Html.BeginForm("RestGuncelle", "Admin", FormMethod.Post))
{
    <form class="form-group" method="post">
        @Html.LabelFor(x => x.ID)
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.LabelFor(x => x.Baslik)
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.Aciklama)
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        <br />
        <label>Blog Seç</label>
        <br />
        <select id="" name="BlogId">
            <option value="@Model.Blog.ID">@Model.Blog.Baslik</option>
            @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Bloglar)
            {
                <option value="@item.Value">@item.Text</option>
            }


        </select>
        <br />
        <br />
        @Html.LabelFor(x => x.RestaurantImage)
        @Html.TextBoxFor(x => x.RestaurantImage, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.RestaurantPuan)
        @Html.TextBoxFor(x => x.RestaurantPuan, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.ServisHızı)
        @Html.TextBoxFor(x => x.ServisHızı, new { @class = "form-control" })


        <button class="btn btn-success">Restaurant Güncelle</button>

    </form>
}
